html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Aceh Soft";
  src: url("./fonts/AcehSoft-Regular.otf");
}

@font-face {
  font-family: "Aceh Soft Oblique";
  src: url("./fonts/AcehSoft-Oblique.otf");
}

@font-face {
  font-family: "Aceh Soft Medium";
  src: url("./fonts/AcehSoft-Medium.otf");
}

@font-face {
  font-family: "Aceh Soft Black";
  src: url("./fonts/AcehSoft-Black.otf");
}

@font-face {
  font-family: "Aceh Soft Black Oblique";
  src: url("./fonts/AcehSoft-BlackOblique.otf");
}

@font-face {
  font-family: "Aceh Soft Extra Bold";
  src: url("./fonts/AcehSoft-ExtraBold.otf");
}

@font-face {
  font-family: "Aceh Soft Extra Bold Oblique";
  src: url("./fonts/AcehSoft-ExtraBoldOblique.otf");
}
